* {
    box-sizing: border-box;
}

body {
    padding: 0 100px;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

#toggle-menu {
    display: none;
}

@media (max-width: 760px ) {
    header {
        
    }

    header .menu {
        display: none;
        position: absolute;
    }

    #toggle-menu {
        display: block;
    }

    header .menu-active {

    }
}


main {
    background-color: #FFD6DB;
    min-height: 100vh;
}

footer {
    background-color: #FFD6DB;
    font-weight: 400;
}

header .logo {
    position: relative;
    font-size: 32px;
}

.logo p {
    position: relative;
    word-spacing: 10px;
    margin-bottom: 0;
    margin-top: 16px;
}

.logo p::after {
    position: absolute;
    display: block;
    width: 2px;
    height: 40px;
    background-color: #000000;
    content: '';
    top: 0;
    right: 49px;
}

header .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px
}

header .menu a {
    text-decoration-line: none;
    color: #000000;
}

main {
    padding: 80px;
    padding-top: 20px;
}


img.me-ku {
    margin-top: 70px;
    display: inline-block;
}



.main-page {
    display: flex;
}

main .main-page-info {
    position: relative;   
    display: inline-block;
    margin-left: 125px;
}

@media (max-width: 1660px ) {
    div.main-page-info {
        margin-left: 0;
    }
}

@media (max-width: 1522px ) {
    main div.main-page-info p  {
        width: 450px;
    }

    main div.main-page-info p::before {
        top: 630px
    }
}

main .main-page-info h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    border: 6px solid #FFFFFF;
    color: #7B3737;
    background-color: #ffffff;
    border-radius: 40px;
    font-size: 32px;
    width: max-content;
    padding: 10px 28px;
}

main .main-page-info h4::before {
    position: absolute;
    border-bottom: 29px solid #ffffff;
    border-left: 63px solid transparent;
    content: '';
    left: -40px;
    top: 90px;
    transform: rotateZ(-19deg);
}

main .main-page-info p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border: 6px solid #FFFFFF;
    color: #7B3737;
    background-color: #ffffff;
    border-radius: 40px;
    width: 550px;
    padding: 15px;
}

main .main-page-info p::before {
    position: absolute;
    border-bottom: 29px solid #ffffff;
    border-left: 63px solid transparent;
    content: '';
    left: -40px;
    top: 526px;
    transform: rotateZ(-19deg);
}

/* Hobby page */
main.hobby-page {
   
}

main.hobby-page .heading {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 680px;
}

main.hobby-page .heading p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.11em;
    color: #8B494A;
}

.hobby-page-game {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.hobby-page-game p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #7B3737;
}

.hobby-page-game img.game-cossacks {
    width: calc(100vw - 232px);
    margin-left: -79px;
    /* box-shadow: inset 10px 10px 50px #cd9fa1; */
}

.hobby-page-movies {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 80px;
}

.hobby-page-movies p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #7B3737;
}

.hobby-page-movies img.movies {
    width: calc(100vw - 232px);
    margin-left: -79px;
}

.hobby-page-painter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 33px;
}

.hobby-page-painter p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #7B3737;
    z-index: 2;
    margin-bottom: -70px;
}

.hobby-page-painter img.painter {
    width: calc(100vw - 232px);
    margin-left: -79px;
    position: relative;
    z-index: 1;
}


.hobby-page-animals {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.hobby-page-animals p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #7B3737;
}

.hobby-page-animals img.animals {
    width: calc(100vw - 232px);
    margin-left: -79px;
    position: relative;
    scale: 1.2;
    margin-bottom: -20px;
}

/* Portfolio page */

main.portfolio-page {
    
}

main.portfolio-page .portfolio-container {
    display: grid;
    justify-content: center;
    margin-top: 40px;
    grid-template-rows: 343px 343px;
    grid-template-columns: 343px 343px 343px;
    gap: 40px;
}

/* Tools page */

main.tools-page {
    
}

main.tools-page .portfolio-container {

}

main.tools-page .tools-heading p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.52%;
    text-align: center;
    letter-spacing: 0.11em;
    color: #7B3737;
}

main.tools-page .image-tools {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.52%;
    text-align: center;
    letter-spacing: 0.11em;
    color: #7B3737;
}

main.tools-page .image-tools a {
    width: 170px;
    word-wrap: normal;
    margin: auto;
    text-decoration: none;
    display: block;
    color: #000000;
}

main.tools-page .reaction {
    text-align: center;
}

main.social-network-page {
    display: flex;
    justify-content: space-between;
    gap: 600px;
}

@media (max-width: 1760px ) {
    main.social-network-page {
        gap: 0;
    }
}


.in-call {
    margin-right: -81px;
}

main.social-network-page .links-list ul {
    margin-top: 80px;
}

main.social-network-page .links-list ul li {
    position: relative;
    list-style-type: none;
    margin-bottom: 40px;
}

main.social-network-page .links-list ul li a {
    position: absolute;
    top: 50px;
    left: 180px;
    text-decoration: none;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

main.social-network-page .my-help-image {
    position: relative;
    margin-top: -40px;
}

main.social-network-page .my-help-image p {
    position: absolute;
    top: 80px;
    left: -100px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border: 6px solid #FFFFFF;
    color: #7B3737;
    background-color: #ffffff;
    border-radius: 40px;
    width: 344px;
    padding: 15px;
    color: #000000;
}

main.social-network-page .my-help-image p::before {
    position: absolute;
    border-bottom: 29px solid #ffffff;
    border-left: 63px solid transparent;
    content: '';
    left: 273px;
    top: 55px;
    transform: rotateZ(-132deg);
}

.individual_task {

}
#calculator-form {
    display: block;
    margin-left: auto;

}
#calculator-form  > .complex-number {
    position: relative;
    display: flex;
    gap: 10px; 
    margin-bottom: 20px;
}

#calculator-form .complex-number p {
    margin: 0;
}

#calculator-form .complex-number input {
    width: 45px;
}

.complex-number-answer {
    margin-top: 40px;
    display: flex;
}

#summ-sub-mul-answer {
    visibility: hidden;
}

.complex-number-answer p {
    margin: 0;
}

#re-answer {
    width: 45px;
    background: none;
    border: none;
}

#im-answer {
    width: 45px;
    background: none;
    border: none;
}

#division-answer {
    position: relative;
    visibility: hidden;
    margin-top: 20px;
}

#division-answer p {
    position: absolute;
    margin-top: 13px;
}

#division-answer #numerator, #denominator {
    display: flex;
    margin-left: 40px;
}

#numerator > input {
    width: 45px;
    height: 20px;
    background: none;
    border: none;
}

#numerator::after {
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background-color: #000000;
    content: '';
    top: 21px;
}

#denominator {
    margin-top: 3px;
}

#denominator > input {
    width: 45px;
    height: 20px;
    background: none;
    border: none;
}